# default ignore
.bundle
lib/danbooru_image_resizer/*.so
lib/danbooru_image_resizer/*.o
lib/danbooru_image_resizer/*.bundle
lib/danbooru_image_resizer/*.log
db/*.sqlite3
log/*.log
tmp/**/*
public/data/preview/*.*
public/data/*.*
public/data/sample/*
vendor/cache/*.gem

# what I don't want to ignore
!public/data/preview/download.png
!public/data/preview/deleted.png

# stuff I'm ignoring
config/local_config.rb
lib/danbooru_image_resizer/Makefile
config/database.yml
log/*.*
public/avatars/*.*

# my wp leaves these all over the place
*.save
