<div id="admin-edit-user">
  <% form_tag(:controller => "admin", :action => "edit_avatar") do %>
    <table class="form">
      <tr>
        <th width="15%"><label class="block" for="user_name">User</label></th>
        <td width="85%"><%= text_field_with_auto_complete "user", "name", :min_chars => 3, :url => {:controller => "user", :action => "auto_complete_for_user_name"} %></td>
      </tr>
      <tr>
        <td colspan="2"><%= submit_tag "Search" %></td>
      </tr>
    </table>
  <% end %>

  <% if @avatars %>
    <% @avatars.each do |a| %>
      <%= link_avatar(a, {:controller => "avatar", :action => "hide", :id => a.id},:default => true) %>
    <% end %>
  <% end %>
</div>
